@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Eddy's here to make scheduling easy</h3>

<p>Eddy Schedules has been designed with the user in mind. Providing services to add and swap shifts, message coworkers, and more!</p>
