@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Support:</strong> <a href="mailto:maxfieldegaj@gmail.com">maxfieldegaj@gmail.com</a><br />
</address>

@section Navbar{
    @Html.Partial("_NavBar")
}