@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="col-md-6" id="homeSquare1">
        <p>EddySchedules is a new way for coworkers to connect!</p>
        <p>Making scheduling easy and transparent.</p>
        <a asp-controller="Account" asp-action="Register">Try it today!</a>
    </div>
</body>

