@model EmpFirstLoginViewModel
@{
    ViewData["Title"] = "FirstLogin";
}

<h2>FirstLogin</h2>

<div class="container">
    <form asp-controller="Employee" asp-action="createEmployee" enctype="multipart/form-data">
        <div asp-validation-summary="All"></div>
        <div class="row">
            <div class="input-group">
                <label asp-for="Employee.PhoneNumber"></label><br />
                <input asp-for="Employee.PhoneNumber" />
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <label asp-for="Employee.PlaceOfBusiness"></label><br />
                <input asp-for="Employee.PlaceOfBusiness" />
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <label asp-for="LastName"></label><br>
                <input asp-for="LastName" />
            </div>
        </div>
        <div class="input-field row">
            <div class="input-field col s10">
                <select asp-for="Role" asp-items="@Model.Roles"></select>
                <label asp-for="Role"></label>
            </div>
        </div>
        <button class="waves-effect waves-light btn" type="submit">Register</button>
    </form>
</div>