@model EmployeeScheduleViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>My Schedule</h2>

@foreach(var s in Model.Schedule)
{
    <div>
        @s.StartTime
        @s.EndTime
    </div>

}


@section Navbar{ 
    @Html.Partial("_NavBar")
}